# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/xuxssjwm/frontend"
PassengerBaseURI "/"
PassengerNodejs "/home/xuxssjwm/nodevenv/frontend/14/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END

RewriteEngine On
RewriteCond %{HTTP_HOST} ^derniere-cohorte\.com [NC]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI}
RewriteCond %{HTTP_HOST} ^www.derniere-cohorte.com [NC]
RewriteRule ^(.*)$ https://derniere-cohorte.com/$1 [L,R=301]

PassengerFriendlyErrorPages off
PassengerAppEnv production
