section {
  form {
    @apply mt-30;

    @apply grid;
    @apply gap-20;

    fieldset {
      @apply border-0;
      @apply flex;
      @apply flex-col;

      label {
        @apply text-15;
        @apply text-white;
        @apply opacity-75;
      }

      input, select {
        @apply py-10;
        @apply bg-transparent;
        @apply text-25;

        @apply border-t-0;
        @apply border-l-0;
        @apply border-r-0;
      }

      input {
        @apply border-b;
        @apply border-solid;
        @apply border-white;

        @apply text-white;

        &::placeholder {
          @apply text-white;
          @apply opacity-100;
        }

        &:focus {
          &::placeholder {
            @apply text-transparent;
          }
        }
      }

      select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;

        @apply border-b-0;
        @apply text-green;
        @apply text-center;

        option {
          @apply text-green;
          @apply bg-grey-dark;
        }
      }

      textarea {
        @apply py-10;
        @apply bg-transparent;

        @apply border-t-0;
        @apply border-l-0;
        @apply border-r-0;
        @apply border-b;
        @apply border-solid;
        @apply border-white;

        @apply text-white;
      }

      &:nth-of-type(4), &:nth-of-type(5) {
        label {
          @apply text-25;
          @apply opacity-100;
        }
      }
    }

    input[type="submit"] {
      @apply mt-30;
      @apply p-10;

      @apply border-t-0;
      @apply border-l-0;
      @apply border-r-0;
      @apply border-b;
      @apply border-solid;
      @apply border-white;

      @apply bg-transparent;

      @apply text-20;
      @apply text-white;

      cursor: none;

      background-size: 100% 200%;
      background-image: linear-gradient(0deg, #F4F4F4 50%, rgba(0,212,255,0) 50%);;
      transition: 0.3s all;

      &:hover {
        @apply text-black;
        background-position: 0 100%;
      }
    }
  }
}

.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

@screen md {
  section {

    @apply relative;

    &::before {
      content: ""; /* empty but necessary */
      position: absolute;
      @apply inset-x-0;
      top: 180px;
      bottom: 105px;
      background-image: url('https://api.derniere-cohorte.com/assets/images/contact_background.png');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
      filter: brightness(60%);
      z-index: -1;
    }

    &::after {
      content: ""; /* empty but necessary */
      position: absolute;
      @apply inset-x-0;
      top: 180px;
      bottom: 105px;

      background: rgb(24,24,24);
      background: linear-gradient(0deg, rgba(24,24,24,1) 0%, rgba(24,24,24,0) 40%);

      z-index: -1;
    }


    form {
      @apply mt-80;

      @apply gap-80;

      fieldset {
        label {
          @apply text-20;
        }

        input, select {
          @apply text-40;
        }

        select {
          @apply text-60;
        }

        textarea {
          @apply text-20;
        }

        &:nth-of-type(4), &:nth-of-type(5) {
          label {
            @apply text-40;
            @apply opacity-100;
          }
        }
      }

      input[type="submit"] {
        @apply mt-0;

        @apply text-60;

        @apply w-2/4;

        @apply mx-auto;
      }
    }
  }
}

@screen xl {
  section {
    &::before {
      background-size: contain;
    }

    > aside {
      @apply mx-230;
      @apply grid;
      @apply grid-cols-2;
      h3 {
        @apply col-start-2;
      }

      h2 {
        @apply row-start-1;
      }
    }


    form {
      @apply mt-200;
      @apply mx-230;

      @apply gap-60;

      fieldset {
        label {
          @apply text-30;
        }

        input, select {
          @apply text-50;
        }

        select {
          @apply text-50;
        }

        textarea {
          @apply text-20;
        }

        &:nth-of-type(4) {
          @apply flex-row;
          @apply items-center;
          @apply justify-between;

          @apply border-b;
          @apply border-solid;
          @apply border-white;

          @apply pb-10;

          label {
            @apply text-50;
            @apply opacity-100;
          }

          select {
            @apply p-0;
          }
        }
      }

      input[type="submit"] {
        @apply mt-0;

        @apply text-50;

        @apply w-1/4;

        @apply mx-auto;
      }
    }
  }
}

@screen extra {
  section {

    > aside {
      @apply mx-320;
    }


    form {
      @apply mx-320;
    }
  }
}
