header {
  @apply h-screen;
  @apply pt-60;

  @apply relative;

  @apply z-0;

  >div {
    @apply relative;
    @apply h-full;
    @apply w-full;
    @apply overflow-hidden;

    img {
      @apply h-full;
      @apply w-full;
      @apply object-cover;

      filter: grayscale(100%);

      //&.fade-in {
      //  animation: fadeIn 1s linear;
      //}
      //
      //&.fade-out {
      //  animation: fadeOut 1s linear;
      //}
      //
      //@keyframes fadeIn {
      //  from {
      //    opacity: 0;
      //  }
      //  to {
      //    opacity: 100%;
      //  }
      //}
      //
      //@keyframes fadeOut {
      //  from {
      //    opacity: 100%;
      //  }
      //  to {
      //    opacity: 0;
      //  }
      //}
    }
  }

  &::before {
    content: '';
    @apply absolute;
    @apply bottom-0;
    @apply inset-x-0;

    height: 100px;

    @apply z-10;

    background: rgb(24,24,24);
    background: linear-gradient(0deg,rgba(24,24,24,1) 30%, rgba(24,24,24,0) 100%);
  }

  >main {
    @apply absolute;
    @apply inset-x-0;

    @apply z-20;

    bottom: 60px;

    @apply text-center;

    h2 {
      @apply text-white;
      @apply text-60;
      @apply font-semibold;

      @apply leading-none;
    }

    article {
      @apply mt-20;
      @apply mb-40;

      h1 {
        @apply text-16;
        @apply text-green;

        &.fade-in {
          animation: fadeIn 1s linear;
        }

        &.fade-out {
          animation: fadeOut 1s linear;
        }

        @keyframes fadeIn {
          from {
            opacity: 0;
          }
          to {
            opacity: 100%;
          }
        }

        @keyframes fadeOut {
          from {
            opacity: 100%;
          }
          to {
            opacity: 0;
          }
        }
      }
    }

    aside {
      @apply flex;
      @apply flex-col;
      @apply justify-center;
      @apply items-center;

      cursor: none;

      p {
        @apply mt-5;
        @apply text-grey-light;
      }
    }
  }
}

@screen md {
  header {
    @apply pt-180;

    >div {

      @apply grid;
      @apply grid-cols-2;

      @apply content-end;

      @apply px-40;

      img {
        @apply object-contain;
      }
    }

    >main {
      @apply mx-40;
      bottom: 80px;

      @apply text-left;

      h2 {
        @apply text-50;
        @apply font-light;

        span {
          @apply text-green;
          @apply font-light;
        }
      }

      article {
        @apply mt-40;
        @apply mb-0;

        @apply grid;
        @apply grid-cols-2;

        > div {
          h1 {
            @apply text-20;
            @apply text-grey-light;
          }

          ul {
            @apply grid;
            grid-template-columns: repeat(3, fit-content(100%));
            @apply gap-20;

            li {
              a {
                @apply no-underline;
                @apply text-white;
                @apply text-12;
              }
            }
          }
        }
      }

      aside {
        @apply flex;
        @apply flex-col;
        @apply justify-center;
        @apply items-center;

        cursor: none;

        p {
          @apply mt-5;
          @apply text-grey-light;
        }
      }
    }
  }
}

@screen xl {
  header {
    @apply pt-100;

    > div {
      @apply px-160;

      img {
        transition: all 0.3s;
        &.highlight {
          filter : grayscale(0%);
        }
      }
    }

    >main {
      @apply mx-160;
      bottom: 60px;

      h2 {
        @apply text-80;
      }

      article {
        @apply grid;
        grid-template-columns: repeat(2, fit-content(100%));
        @apply gap-100;

        > div {
          h1 {
            transition: all .3s;
          }

          &.highlight {
            h1 {
              @apply text-25;
              @apply text-green;
            }
          }
        }
      }
    }
  }
}

@screen extra {
  header {
    > div {
      @apply px-320;
    }

    >main {
      @apply mx-320;
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
