section {
  @apply fixed;
  @apply inset-0;
  @apply z-50;

  @apply flex;
  @apply flex-col;
  @apply items-center;

  @apply overflow-auto;

  @apply bg-grey-dark;

  > aside {
    @apply fixed;
    > img {
      @apply hidden;
    }
    > button {
      @apply outline-none;
      @apply text-green;
      @apply border-0;
      @apply py-10;
      @apply px-30;
      @apply rounded-full;
      @apply mt-20;
      @apply z-50;

      @apply text-16;

      transition: all .3s;

      background-size: 200% 100%;
      background-image: linear-gradient(to right, #000000 50%, #89E2B7 50%);
      transition: 0.3s all;
      &:hover {
        cursor: none;
        @apply text-black;
        background-position: -100% 0;
      }
    }
  }

  img {
    @apply h-screen;
    @apply w-full;
    @apply object-cover;
  }

  article {
    @apply w-full;
  }

  article:first-of-type {
    @apply px-15;
    @apply py-80;

    @apply bg-grey-dark;

    @apply text-white;

    @apply grid;
    @apply gap-30;

    div {
      @apply grid;
      @apply gap-30;
    }

    div:first-of-type {
      h1 {
        @apply text-40;
      }

      p {
        @apply text-justify;
      }
    }

    div:last-of-type {
      aside {
        @apply grid;
        @apply gap-10;
        @apply content-start;

        h2, li, p {
          @apply text-20;
        }

        h2 {
          @apply font-semibold;
        }

        li, p {
          @apply font-light;
        }
      }
    }
  }

  article:last-of-type {
    @apply py-60;
    @apply bg-grey-dark;

    @apply flex;
    @apply justify-center;

    button {
      @apply bg-transparent;
      @apply border-0;

      @apply flex;
      @apply items-end;

      cursor: none;

      @apply text-green;
      @apply text-40;

      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-color: #89E2B7;
      text-decoration-thickness: 2px;

      svg {
        height: 40px;
        width: 40px;
      }
    }
  }
}

@screen md {
  section {
    > aside {
      @apply w-full;
      @apply grid;
      grid-template-columns: repeat(2,fit-content(100%));
      @apply justify-between;
      @apply items-center;

      @apply mt-60;
      @apply px-60;

      > img {
        @apply block;
        max-height: 60px;
        @apply flex-grow-0;
      }
      > button {
        @apply py-15;
        @apply px-40;
        @apply mt-0;

        @apply text-25;
      }
    }

    article:first-of-type {
      @apply px-40;
      @apply py-100;

      div:first-of-type {
        h1 {
          @apply text-50;
        }
      }

      div:last-of-type {
        aside {
          ul {
            @apply grid;
            grid-template-columns: repeat(3, fit-content(100%));
            @apply gap-30;
          }
        }
      }
    }

    article:last-of-type {
      @apply py-100;

      button {
        @apply text-60;

        svg {
          @apply mb-5;
        }
      }
    }
  }
}

@screen xl {
  section {
    > aside {
      @apply mt-40;
      @apply px-160;
    }

    article:first-of-type {
      @apply px-160;
      @apply pt-200;

      grid-template-columns: repeat(2, fit-content(100%));
      @apply gap-60;

      div:first-of-type {
        @apply col-start-2;
        h1 {
          @apply text-60;
        }

        p {
          @apply text-20;
        }
      }

      div:last-of-type {
        @apply col-start-1;
        @apply row-start-1;
        aside {
          h2 {
            @apply text-grey-light;
          }
          ul {
            @apply grid-cols-1;
            @apply gap-5;
          }
        }
      }
    }

    article:last-of-type {
      @apply py-200;

      button {
        @apply text-90;

        svg {
          @apply mb-10;
        }
      }
    }
  }
}
