nav {
  @apply fixed;
  @apply inset-x-0;

  @apply flex;
  @apply justify-center;

  @apply z-50;

  > svg:first-of-type {
    @apply hidden;
  }

  button {
    @apply outline-none;
    @apply text-green;
    @apply border-0;
    @apply py-20;
    @apply px-50;
    @apply rounded-full;
    @apply mt-20;
    @apply z-50;

    @apply flex;
    @apply flex-col;

    @apply relative;

    @apply overflow-hidden;

    background-size: 200% 100%;
    background-image: linear-gradient(to right, #000000 50%, #89E2B7 50%);
    transition: 0.3s all;
    &:hover {
      cursor: none;
      @apply text-black;
      background-position: -100% 0;
    }

    span {
      @apply absolute;
      @apply inset-0;

      @apply flex;
      @apply items-center;
      @apply justify-center;

      @apply text-16;

      transition: all .3s;

      &:last-of-type {
        transform: translateY(100%);
      }
    }
  }

  div {
    @apply fixed;
    @apply inset-0;
    @apply bg-grey-dark;

    @apply pt-160;
    @apply px-15;
    @apply pb-90;

    @apply flex;
    @apply flex-col;
    @apply justify-start;

    h1 {
      @apply text-16;
      @apply text-grey-light;
    }

    ul {
      @apply mt-30;
      @apply flex-grow;
      li {
        a {
          @apply text-40;
          @apply no-underline;
          @apply text-white;

          span {
            @apply ml-10;

            @apply bg-black;
            @apply rounded-full;

            @apply px-10;
            @apply py-3;

            @apply text-12;
            @apply text-green;

            svg {
              @apply mr-6;
              @apply fill-current;
            }
          }

          &:hover {
            span {
              @apply bg-green;
              @apply text-grey-dark;
            }
          }
        }
      }
    }

    aside {
      @apply flex;
      @apply justify-between;

      @apply justify-self-end;

      p {
        @apply text-white;
      }
    }
  }

  .menu-enter-active, .menu-leave-active {
    transition: opacity .2s;
  }
  .menu-leave-active {
    transition-delay: .8s;
  }
  .menu-enter, .menu-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  .menu-first-enter-active, .menu-first-leave-active {
    transition: all .2s ease;
  }
  .menu-first-enter-active {
    transition-delay: .2s;
  }
  .menu-first-leave-active {
    transition-delay: .6s;
  }
  .menu-first-enter, .menu-first-leave-to {
    opacity: 0;
  }

  .menu-second-enter-active, .menu-second-leave-active {
    transition: all .2s ease;
    transition-delay: .4s;
  }
  .menu-second-enter, .menu-second-leave-to {
    opacity: 0;
  }

  .menu-third-enter-active, .menu-third-leave-active {
    transition: all .2s ease;
  }
  .menu-third-enter-active {
    transition-delay: .6s;
  }
  .menu-third-leave-active {
    transition-delay: .3s;
  }
  .menu-third-enter, .menu-third-leave-to {
    opacity: 0;
  }

  .menu-last-enter-active, .menu-last-leave-active {
    transition: all .2s ease;
  }
  .menu-last-enter-active {
    transition-delay: .8s;
  }
  .menu-last-enter, .menu-last-leave-to {
    opacity: 0;
  }
}

@screen md {
  nav {
    @apply justify-between;
    @apply items-center;

    @apply mt-60;
    @apply px-60;

    > svg:first-of-type {
      @apply block;
      @apply z-50;

      max-height: 60px;

      @apply text-white;

      transition: all .3s;

      &:hover {
        cursor: none;
        @apply text-green;
      }
    }

    button {
      @apply mt-0;
      @apply py-30;
      @apply px-80;

      span {
        @apply text-25;
      }
    }

    div {
      @apply pt-320;
      @apply px-100;
      @apply pb-145;

      @apply flex;
      @apply flex-col;
      @apply justify-start;

      ul {
        @apply mt-10;
        li {
          a {
            @apply text-60;
            span {
              @apply text-16;
            }
          }

          &:nth-of-type(2) {
            @apply ml-180;
          }

          &:nth-of-type(3) {
            @apply ml-60;
          }

          &:nth-of-type(4) {
            @apply ml-140;
          }
        }
      }

      aside {
        @apply flex;
        @apply justify-start;

        @apply justify-self-end;

        p {
          &:first-of-type {
            @apply mr-60;
          }
        }
      }
    }
  }
}

@screen xl {
  nav {
    @apply mt-0;
    @apply pt-40;
    @apply px-160;

    transition: all .3s;

    div {
      @apply bg-transparent;

      @apply pt-50;
      @apply px-100;
      @apply pb-0;

      @apply items-end;

      h1 {
        @apply hidden;
      }

      ul {
        @apply mt-0;
        @apply mr-30;

        @apply grid;
        grid-template-columns: repeat(4, fit-content(100%));


        li {
          &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
            @apply ml-100;
          }
          a {
            @apply text-25;

            @apply flex;
            @apply items-end;

            width: fit-content;

            @apply relative;

            span {
              @apply bg-white;

              @apply px-8;
              @apply py-3;

              @apply mb-3;

              @apply text-black;

              @apply absolute;
              left: 100%;

              width: 20px;
              height: 20px;
              transition: all .3s;

              @apply overflow-hidden;

              @apply flex;
              @apply items-center;

              svg {
                @apply flex-shrink-0;
                @apply flex-grow-0;
              }
            }

            &:hover {
              span {
                @apply bg-black;
                @apply text-green;

                width: fit-content;
              }
            }
          }
        }
      }

      aside {
        @apply hidden;
      }
    }

    .menu-leave-active {
      transition: none;
    }

    .menu-first-leave-active {
      transition: none;
    }

    .menu-second-leave-active {
      transition: none;
    }

    .menu-third-leave-active {
      transition: none;
    }

    .menu-last-leave-active {
      transition: none;
    }
  }
}

@screen extra {
  nav {
    @apply px-320;

    div {
      @apply px-260;
    }
  }
}
