nav {
  @apply fixed;
  @apply inset-x-0;

  @apply flex;
  @apply justify-center;

  @apply z-50;

  button {
    @apply outline-none;
    @apply text-green;
    @apply border-0;
    @apply py-20;
    @apply px-50;
    @apply rounded-full;
    @apply mt-20;
    @apply z-50;

    @apply flex;
    @apply flex-col;

    @apply relative;

    @apply overflow-hidden;

    background-size: 200% 100%;
    background-image: linear-gradient(to right, #000000 50%, #89E2B7 50%);
    transition: 0.3s all;
    &:hover {
      cursor: none;
      @apply text-black;
      background-position: -100% 0;
    }

    span {
      @apply absolute;
      @apply inset-0;

      @apply flex;
      @apply items-center;
      @apply justify-center;

      @apply text-16;

      transition: all .3s;

      &:last-of-type {
        transform: translateY(100%);
      }
    }
  }

  div:nth-child(2) {
    @apply fixed;
    @apply inset-0;
    @apply bg-grey-dark;

    @apply pt-160;
    @apply px-15;
    @apply pb-90;

    @apply flex;
    @apply flex-col;
    @apply justify-start;

    h1 {
      @apply text-16;
      @apply text-grey-light;
    }

    ul {
      @apply mt-30;
      @apply flex-grow;
      li {
        a {
          @apply text-40;
          @apply no-underline;
          @apply text-white;

          span {
            @apply ml-10;

            @apply bg-black;
            @apply rounded-full;

            @apply px-10;
            @apply py-3;

            @apply text-12;
            @apply text-green;

            svg {
              @apply mr-6;
              @apply fill-current;
            }
          }

          &:hover {
            span {
              @apply bg-green;
              @apply text-grey-dark;
            }
          }
        }
      }
    }

    aside {
      @apply flex;
      @apply justify-between;

      @apply justify-self-end;

      p {
        @apply text-white;
      }
    }
  }
}

.menu-enter-active, .menu-leave-active {
  transition: opacity .3s;
}
.menu-leave-active {
  transition-delay: 1.2s;
}
.menu-enter, .menu-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.menu-first-enter-active, .menu-first-leave-active {
  transition: all .3s ease;
}
.menu-first-enter-active {
  transition-delay: .3s;
}
.menu-first-leave-active {
  transition-delay: .9s;
}
.menu-first-enter, .menu-first-leave-to {
  opacity: 0;
}

.menu-second-enter-active, .menu-second-leave-active {
  transition: all .3s ease;
  transition-delay: .6s;
}
.menu-second-enter, .menu-second-leave-to {
  opacity: 0;
}

.menu-third-enter-active, .menu-third-leave-active {
  transition: all .3s ease;
}
.menu-third-enter-active {
  transition-delay: .9s;
}
.menu-third-leave-active {
  transition-delay: .3s;
}
.menu-third-enter, .menu-third-leave-to {
  opacity: 0;
}

.menu-last-enter-active, .menu-last-leave-active {
  transition: all .3s ease;
}
.menu-last-enter-active {
  transition-delay: 1.2s;
}
.menu-last-enter, .menu-last-leave-to {
  opacity: 0;
}
